* {
    margin:0;
   padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #1d3557;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto;
    animation: bgcolor 60s infinite 3s ease-in-out;
}

:webkit-scrollbar{
    width:0;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #003298;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
            animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #E76688;
  }
  .cube:nth-child(2) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
            border-color: #6FE766;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
            border-color: #669CE7;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  
  @-webkit-keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  @keyframes bgcolor {
    0%{
        background-image: linear-gradient(to right, #fbadc2 , #ccf9c9 , #bfd7f8);
    }
    25%{
        background-image: linear-gradient(to right, #ccf9c9 , #bfd7f8,#fbadc2);
    }
    50%{
        background-image: linear-gradient(to right , #bfd7f8,#fbadc2, #ccf9c9);
    }
    75%{
        background-image: linear-gradient(to right ,#fbadc2, #ccf9c9, #bfd7f8);
    }
    100%{
        background-image: linear-gradient(to right ,#e3b4c0, #b4ddb1, #aac2e3);
    }
  }

main{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.sec1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sec1 img{
    height: 390px;
    width: 350px;
    border-radius: 50%;
    filter: grayscale(0%);
}

.sec2{
    width: 50%;
    height: 100%;
    flex-direction: column;
    display: flex;
    margin: 5rem 2rem;
}

.sec2 h1{
    font-size: 3rem;
}

.text{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text h1{
    font-size: 4rem;
}

.text p{
    display: flex;
    align-items: center;
    color: white;
    font-size: large;
}

.button{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -19px ;
}

.button a {
    text-decoration: none;
}
.button div{
    height: 120px;
    width: 120px;
    margin: 2em 0.5em;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    border:1px solid black;
    font-size: large;
    text-transform: uppercase;
}

.red{
    background-color: #E76688;
    color: white;
    display: flex;
    align-items: center;   
    justify-content: center;
    transition-duration: 0.5s;
}

.red:hover{
    background-color: transparent;
    color: #E76688;
}
.green{
    background-color: #6FE766;
    color: white;
    display: flex;
    align-items: center;   
    justify-content: center;
    transition-duration: 0.5s;

}

.green:hover{
    background-color: transparent;
    color: #6FE766;
}

.blue{
    background-color: #669CE7;
    color: white;
    display: flex;
    align-items: center;   
    justify-content: center;
    transition-duration: 0.5s;

}

.blue:hover{
    background-color: transparent;
    color: #669CE7;
}



@media only screen and (max-width: 500px) {
    body{
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .navbar{
        display: none;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between ;
    }

    .sec1{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sec2{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .sec2 h1{
        align-items: center;
        font-size: 5rem;

    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text p{
        font-size: 18px;
        color: gray;
    }

    .button{
        display: flex;
        flex-direction: column;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button div{
        margin: 10px;
        height: 180px;
        width: 180px;
        font-size: 30px;
    }
}
